package components

templ Hero(displayClassName string) {
  <div class={"hero-container", displayClassName}>
    <h1 class="hero-title header">placeholder_project_name</h1>
    <h2 class="hero-subtitle">food only a mother could love</h2>
  </div>
}