package admincomponents

templ NavBar() {
  <nav>
    <ul>
      <li class="nav-item">
        <a class="nav-link" href="/admin">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin/logs">Logs</a>
      </li>
    </ul>
  </nav>
}